/*
*
Common
*
*/
body {
	font-size: 14px;
	font-family: "Roboto-Regular", Arial, sans-serif;
	font-weight: 300;
	color: #fff;
	min-width: 940px;
	max-width: 1920px;
	margin: 0;
	padding: 0;
}
.clearfix {
	content: "";
	display: table;
	clear: both;
}
.container {
	width: 940px;
	padding: 0 10px;
	margin-left: auto;
	margin-right: auto;
}

/*
*
Header
*
*/
.main-header {
	background: #272727 url(../images/HeaderBG/main-header-bg.png) ;
	background-repeat: no-repeat;
	min-height: 800px;
	margin-bottom: 95px;
}
.main-header {
	color: #fff;
}
.header-title {
	display: inline-block;
	float: left;
	max-width: 140px;
	margin: 0;
	font-size: 24px;
	line-height: 32px;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-right: 340px;
}
.main-navigation {
	display: inline-block;
	float: left;
	width: 400px;
	margin-top: 45px;
	margin-bottom: 245px;
}
.main-navigation ul {
	margin-top: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
}
.main-navigation li {
	display: inline-block;
	font-size: 14px;
	line-height: 24px;
	font-family: "Roboto-Regular", Arial, sans-serif;
	font-weight: 300;
	min-width: 60px;
	vertical-align: top;
	border: none;
	outline: none;
	margin-right: 20px;
}

.main-navigation a {
	display: block;
	color: #fff;
	text-decoration: none;
}
.main-navigation .active {
	color: #a0a0a0;
}
.main-navigation a:hover {
	color: #a0a0a0;
}
.header-social-buttons {
	float: right;
	max-width: 60px;
}
.social-btn {
	margin: 0;
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 25px;

	/* Hide text*/
	font-size: 0;
	text-decoration: none;
	opacity: 1;
	background: url(../images/sprite/sprite-icons.png) no-repeat;
}
.twitter-btn {
	margin-right: 16px;
	background-position: 0px 3px;
}
.facebook-btn {
	background-position: 0px -82px;
}
.header-navigation h1 {
	margin-top: 40px;
}
.header-navigation .header-social-buttons {
	margin-top: 48px;
}
.twitter-btn:hover {
	opacity: 0.4;
}
.facebook-btn:hover {
	opacity: 0.4;
}

/* Header Content */
.header-content {
	width: 620px;
	float: left;
}
.header-content p {
	font-size: 24px;
	line-height: 24px;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 30px;
}
.header-content h1 {
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 40px;
}
.header-content-btn {
	display: inline-block;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	outline: none;
	min-width: 86px;
	padding: 25px 37px;
	margin-right: 25px;
	margin-bottom: 20px;
	border: 2px solid white;
	border-radius: 4px;
	vertical-align: top;
}
.header-content-btn:hover {
	background-color: #e92121;
	-webkit-transition: all ease-out 0.2s;
	-o-transition: all ease-out 0.2s;
	-moz-transition: all ease-out 0.2s;
	transition: all ease-out 0.2s;
	border: 2px solid #e92121;
}

/*
*
Content
*
*/
.content {
	background-color: #fff;
	color: #b7b7b7;
	margin: 0;
	padding: 0;
}
.content .content-slider,
.content .content-comments {
	background-color: #faf9f9;
}

/* Content-About */
.content-about {
	background-color: #fff;
	margin-bottom: 100px;
}
.about-column-left {
	float: left;
	width: 380px;
}
.about-column-left h2 {
	font-size: 48px;
	line-height: 60px;
	text-transform: uppercase;
	font-family: "Roboto", Arial , sans-serif;
	font-weight: 700;
	margin-top: 105px;
	color: #464646;
}
.about-column-right {
	float: right;
	width: 460px;
	margin-left: 100px;
}
.about-column-right p {
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 300;
	margin-bottom: 45px;
	color: #b7b7b7;
}

/* Content 6steps */
.content-steps {
	background-color: #fff;
	font-size: 0;
	margin-bottom: 20px;
}
.border-step {
	border-top: 1px solid #EBEBEB;
}
.content-header-steps {
	display: block;
	max-width: 460px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 130px;
}
.content-header-steps h2 {
	max-width: 310px;
	font-size: 30px;
	line-height: 42px;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-weight: 700;
	margin: 0px 80px 0px;
	color: #464646;
}
.content-header-steps span {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.icon-devide {
	margin: 25px;
	display: inline-block;
	vertical-align: top;
	width: 100px;
	min-height: 10px;
	text-decoration: none;
	opacity: 1;
	background: url(../images/sprite/sprite-icons.png) no-repeat;
	background-position: 0 -168px;
}
.content-header-steps p {
	display: block;
	font-size: 18px;
	line-height: 24px;
	margin: 0 auto;
	padding: 0 40px;
}
.steps-description {
	display: block;
	margin-bottom: 0;
}
.step-block {
	display: inline-block;
	width: 300px;
	min-height: 10px;
	margin-right: 20px;
	background-color: #fff;
	vertical-align: top;
	margin-bottom: 75px;
}
.step-block:nth-child(3n) {
	margin-right: 0;
}
.decoration-step {
	display: block;
	width: 70px;
	height: 70px;
	background-image: url(../images/sprite/sprite-icons.png);
	background-repeat: no-repeat;
}
.step-block h3 {
	font-size: 18px;
	line-height: 24px;
	max-width: 220px;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 700;
	vertical-align: top;
	margin: 25px 0;
	color: #464646;
	vertical-align: top;
}
.step-block p {
	font-size: 16px;
	line-height: 24px;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 300;
	margin-top: 25px;
	margin-bottom: 0;
	vertical-align: top;
}
.decoration-step-home {
	background-position: 0 -247px;
}
.decoration-step-unique {
	background-position: 0 -381px;
}
.decoration-step-payment {
	background-position: 0 -515px;
}
.decoration-step-days {
	background-position: 0 -649px;
}
.decoration-step-thumbs {
	background-position: 0 -783px;
}
.decoration-step-heart {
	background-position: 0 -917px;
}
/* Slider */
.content-slider {
	font-size: 0;
	background-color: #faf9f9;
	margin-bottom: 95px;
}
.slider-column-left {
	float: left;
	width: 400px;
	margin: 100px 80px 100px 0;
}
.slider-column-left img {
	width: 400px;
	height: 400px;
}
.slider-column-right {
	float: right;
	width: 460px;
	margin-top: 100px;
}
.slider-column-right h2 {
	font-size: 30px;
	line-height: 42px;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-weight: bold;
	color: #464646;
	margin-top: 45px;
	margin-bottom: 25px;
}
.slider-column-right .icon-devide {
	margin: 0 0 30px 0;
	display: inline-block;
	vertical-align: top;
	width: 100px;
	min-height: 10px;
	text-decoration: none;
	opacity: 1;
	background: url(../images/sprite/sprite-icons.png) no-repeat;
	background-position: 0 -168px;
}
.slider-column-right p {
	font-size: 18px;
	line-height: 24px;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 30px;
}
.slider-column-right .slider-content-btn {
	display: inline-block;
	color: #464646;
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	outline: none;
	min-width: 86px;
	padding: 20px 38px;
	margin-right: 25px;
	margin-bottom: 20px;
	border: 2px solid #464646;
	border-radius: 4px;
	vertical-align: top;
}
.slider-content-btn:hover {
	color: #fff;
	background-color: #e92121;
	-webkit-transition: all ease-out 0.3s;
	-o-transition: all ease-out 0.3s;
	-moz-transition: all ease-out 0.3s;
	transition: all ease-out 0.3s;
	border: 2px solid #e92121;
}
/* Content-Sliders right , left */
.content-slider {
	position: relative;
}
.content-slider:before {
	content: "";
	position: absolute;
	top: 45%;
	left: 20px;
	width: 80px;
	height: 80px;
	background: #fff url(../images/slider/slider-icons.png) no-repeat;
	background-position: 30px 20px;
	cursor: pointer;
}
.content-slider:after {
	content: "";
	position: absolute;
	top: 45%;
	right: 20px;
	width: 80px;
	height: 80px;
	background: #fff url(../images/slider/slider-icons.png) no-repeat;
	background-position: 30px -91px;
	cursor: pointer;
}
/* Content Choose */
.content-choose {
	background-color: #fff;
	font-size: 0;
	margin-bottom: 95px;
}
.choose-column-left {
	float: left;
	width: 260px;
}
.choose-column-left h2 {
	font-size: 48px;
	line-height: 60px;
	text-transform: uppercase;
	font-family: "Roboto", Arial , sans-serif;
	font-weight: 700;
	margin-top: 75px;
	color: #464646;
}
.choose-column-right {
	float: right;
	width: 540px;
	margin-left: 100px;
}
.choose-block {
	display: inline-block;
	width: 220px;
	vertical-align: top;
	margin-right: 100px;
	margin-bottom: 70px;
	vertical-align: top;
}
.choose-block:nth-child(2n) {
	margin-right: 0;
}
.choose-block h3 {
	font-size: 18px;
	line-height: 24px;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-weight: 700;
	color: #464646;
	margin-top: 0;
	margin-bottom: 15px;
}
.choose-block p {
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 300;
	color: #b7b7b7;
	margin-bottom: 0;
}

/* Content Work */
.content-work {
	background-color: #fff;
	font-size: 0;
	margin-bottom: 100px;
}
.work-images {
	display: inline-block;
	margin-bottom: 50px;
}
.work-images img {
	width: 235px;
	height: 235px;
}
.work-column-right  {
 	float: right;
 	width: 270px;
 	margin-left: 10px;
 	margin-right: 150px;
}
.work-column-right h2 {
	font-size: 48px;
	line-height: 60px;
	text-transform: uppercase;
	font-family: "Roboto", Arial , sans-serif;
	font-weight: 700;
	margin-top: 65px;
	color: #464646;
}
.work-column-right .icon-devide {
	margin: 0 0 30px 0;
	display: inline-block;
	vertical-align: top;
	width: 100px;
	min-height: 10px;
	text-decoration: none;
	opacity: 1;
	background: url(../images/sprite/sprite-icons.png) no-repeat;
	background-position: 0 -168px;
}
.work-description-column-left {
	float: left;
	width: 460px;
}
.work-description-column-right {
	float: right;
	width: 430px;
	margin-left: 20px;
}
.work-description-column-left p,
.work-description-column-right p {
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 300;
	color: #b7b7b7;
	margin-bottom: 0;
	margin-top: 0;
}

/* Content Comments */
.content-comments {
	background-color: #faf9f9;
	font-size: 0;
	margin-bottom: 100px;
}
.content-header-comments {
	display: block;
	max-width: 460px;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 130px;
}
.comments-block {
	display: inline-block;
	position: relative;
	max-width: 300px;
	margin-right: 20px;
	vertical-align: top;
	margin-bottom: 95px;
	padding-left: 60px;
}
.comments-block:after{
	content: "";
	position: absolute;
	width: 40px;
	height: 40px;
	top: 0px;
	left: 0px;
	background: url(..//images/slider/slider-icons.png) no-repeat;
	background-position: 0 -221px;
}
.comments-block:nth-child(3n) {
	margin-right: 0;
}
.comments-block h2 {
	font-size: 18px;
	line-height: 24px;
	max-width: 200px;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 700;
	vertical-align: top;
	margin-bottom: 10px;
	color: #464646;
}
.comments-block .prof {
	margin-bottom: 10px;
}
.comments-block p {
	font-size: 16px;
	line-height: 24px;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 300;
	margin-bottom: 0;
	margin-top: 0;
	max-width: 240px;
}
.content-header-comments h2 {
	font-size: 30px;
	line-height: 42px;
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-weight: bold;
	color: #464646;
	margin-top: 45px;
	margin-bottom: 25px;
}
.content-header-comments .icon-devide {
	display: block;
	vertical-align: top;
	min-width: 100px;
	min-height: 10px;
	margin-right: auto;
	margin-left: auto;
	text-decoration: none;
	opacity: 1;
	background: url(../images/sprite/sprite-icons.png) no-repeat;
	background-position: 0 -168px;
}
.content-header-comments p {
	font-size: 18px;
	line-height: 24px;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 30px;
}

/* Content Photoblog */
.content-photoblog {
	font-size: 0;
}
.photoblog-images img {
	width: 235px;
	height: 235px;
}
.photoblog-images {
	display: inline-block;
	margin-bottom: 50px;
}
.photoblog-column-left {
	float: left;
}
.photoblog-column-left h2 {
	width: 320px;
	font-size: 48px;
	line-height: 60px;
	margin-right: 150px;
	text-transform: uppercase;
	font-family: "Roboto", Arial , sans-serif;
	font-weight: 700;
	margin-top: 65px;
	color: #464646;
}
.photoblog-column-left .icon-devide {
	margin: 0 0 30px 0;
	display: inline-block;
	vertical-align: top;
	width: 100px;
	min-height: 10px;
	text-decoration: none;
	opacity: 1;
	background: url(../images/sprite/sprite-icons.png) no-repeat;
	background-position: 0 -168px;
}
.photoblog-description-column-left  {
	float: left;
	width: 460px;
}
.photoblog-description-column-right {
	float: right;
	width: 460px;
	margin-left: 20px;
}
.photoblog-description-column-left p,
.photoblog-description-column-right p {
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 300;
	color: #b7b7b7;
	margin-bottom: 100px;
	margin-top: 0;
}

/* Footer */
.main-footer {
	background-color: #141414;
	font-size: 0;
}
.footer-header {
	display: block;
}
.footer-title {
	display: inline-block;
}
.footer-title h1 {
	font-family: "Roboto-Bold", Arial, sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 70px;
	margin-bottom: 70px;
}
.footer-social-buttons {
	float: right;
	display: inline-block;
	width: 140px;
	min-height: 40px;
	margin: 70px 0;
	/* Hide text*/
	font-size: 0;
}
.social-buttons {
	margin: 0;
	display: inline-block;
	vertical-align: top;
	width: 23px;
	height: 23px;
	margin-right: 15px;
	opacity: 1;
	/* Hide text*/
	font-size: 0;
	text-decoration: none;
	background: #141414 url(../images/sprite/sprite-icons.png) no-repeat;
}

.social-buttons:last-child {
	margin-right: 0;
}
.social-facebook {
	background-position: 7px -1043px;
}
.social-twitter {
	background-position: 0 -1134px;
}
.social-vk {
	background-position: 0 -1316px;
}
.social-google {
	background-position: 0 -1224px;
}
.social-facebook:hover {
	-webkit-transition: all 0.2s ease;
	    transition: all 0.2s ease;
	opacity: 0.3;
}
.social-twitter:hover {
	-webkit-transition: all 0.2s ease;
	    transition: all 0.2s ease;
	opacity: 0.3;
}
.social-vk:hover {
	-webkit-transition: all 0.2s ease;
	    transition: all 0.2s ease;
	opacity: 0.3;
}
.social-google:hover {
	-webkit-transition: all 0.2s ease;
	    transition: all 0.2s ease;
	opacity: 0.3;
}
.footer-blocks {
	display: inline-block;
	vertical-align: top;
	width: 940px;
}
.first-column-left {	
	float: left;
	width: 180px;
	margin-bottom: 75px;
}
.first-column-left a {
	display: block;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 15px;
	color: #474747;
	text-decoration: none;

}
.first-column-left a:hover {
	text-decoration: underline;
}
.second-column-left {
	float: left;
	width: 180px;
	margin-left: 40px;
}
.second-column-left a{
	display: block;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 15px;
	color: #474747;
	text-decoration: none;
}
.second-column-left a:hover {
	text-decoration: underline;
}
.copyright-column-right {
	float: right;
	max-width: 320px;
}
.copyright-column-right p {
	float: right;
	display: block;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 5px;
	margin-top: 0;
	color: #474747;
	text-decoration: none;
}
